# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.git

.idea
.vscode/

# dependencies
node_modules
apps/firmware/fonts/inbox/

out/
build
_build
dist
fonts/dist
debug.cfg
debuc_customr.json
esp32.svd

examples

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.logs

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

config.h
env.h

env.*.local

*.example.ts
*.cache.json
.turbo/
