{
    "apps/**/*.{js,jsx,ts,tsx,html}": [
      "eslint --fix",
      "prettier --write"
    ],
    "packages/!(environment,eslint-config,tsconfig)/**/*.{js,jsx,ts,tsx,html}": [
      "eslint --fix",
      "prettier --write"
    ],
    "*.json": [
      "prettier --write"
    ]
}
