{
    "apps/server/*.{js,jsx,ts,tsx,html}": [
      "eslint --fix",
      "prettier --write"
    ],
    "packages/**/*.{js,jsx,ts,tsx,html}": [
      "npm run lint --",
      "prettier --write"
    ],
    "*.json": [
      "prettier --write"
    ]
}
